USE [master]
GO
/****** Object:  Database [angularTestDB]    Script Date: 04-03-2024 16:26:14 ******/
CREATE DATABASE [angularTestDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'angularTestDB', FILENAME = N'C:\Users\princebarpagga\angularTestDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'angularTestDB_log', FILENAME = N'C:\Users\princebarpagga\angularTestDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [angularTestDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [angularTestDB]
GO
/****** Object:  Table [dbo].[Departments]    Script Date: 04-03-2024 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Departments](
	[DepartmentId] [int] NOT NULL,
	[DepartmentName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employees]    Script Date: 04-03-2024 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employees](
	[EmpId] [int] IDENTITY(1,1) NOT NULL,
	[EmployeeName] [nvarchar](100) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
	[DepartmentId] [int] NULL,
	[SkillId] [int] NULL,
	[Email] [nvarchar](100) NULL,
PRIMARY KEY CLUSTERED 
(
	[EmpId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Skills]    Script Date: 04-03-2024 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Skills](
	[SkillId] [int] NOT NULL,
	[SkillName] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[SkillId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 04-03-2024 16:26:14 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Username] [nvarchar](50) NOT NULL,
	[Password] [nvarchar](255) NOT NULL,
	[MobileNumber] [nvarchar](20) NOT NULL,
	[ShowUserPassword] [bit] NOT NULL,
	[ProfilePicture] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (1, N'Engineering')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (2, N'Marketing')
INSERT [dbo].[Departments] ([DepartmentId], [DepartmentName]) VALUES (3, N'Human Resources')
SET IDENTITY_INSERT [dbo].[Employees] ON 

INSERT [dbo].[Employees] ([EmpId], [EmployeeName], [Salary], [DepartmentId], [SkillId], [Email]) VALUES (1, N'Champion', CAST(20000.00 AS Decimal(10, 2)), 1, 1, N'champion@gmail.com')
INSERT [dbo].[Employees] ([EmpId], [EmployeeName], [Salary], [DepartmentId], [SkillId], [Email]) VALUES (3, N'Dogra', CAST(45000.00 AS Decimal(10, 2)), 1, 1, N'dogra@gmail.com')
INSERT [dbo].[Employees] ([EmpId], [EmployeeName], [Salary], [DepartmentId], [SkillId], [Email]) VALUES (4, N'Dogra', CAST(45000.00 AS Decimal(10, 2)), 1, 1, N'dogra@gmail.com')
SET IDENTITY_INSERT [dbo].[Employees] OFF
INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (1, N'Programming')
INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (2, N'Marketing Strategy')
INSERT [dbo].[Skills] ([SkillId], [SkillName]) VALUES (3, N'Human Recruitment')
SET IDENTITY_INSERT [dbo].[Users] ON 

SET IDENTITY_INSERT [dbo].[Users] OFF
USE [master]
GO
